/* sign */

html,body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Comfortaa', cursive;
    color: #fff;
    line-height: 1.7;
}

* {
    box-sizing: border-box;
}

.main {
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip-path: inset(0 65% 0 0);
    transition: all 600ms ease-in-out;
}
.logo img {
    width: 300px; /* Adjust the width to make it smaller */
    display: block; /* Remove any residual space around the image */
    margin: 0 auto; /* Center the image horizontally */
}

.main::after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
}

.logo {
    margin:1%;
    position: fixed;
    width: 100px; /* Adjust the width as needed */
    top: 0;
    transition: all 800ms ease-in-out;
}

.content1, .content2 {
    position: fixed;
    width: 35%;
    text-align: center;
    transition: all 800ms ease-in-out;
    top: 0;
    padding-top: 30px;
}

.content1 {
    left: 0;
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.content2 {
    right: 0;
    transform: translateX(0);
    opacity: 0;
    pointer-events: none;
}

/* Add classes to swap positions */
.swap {
    transform: translateX(40%); /* Swap positions with content2 */
}

.checkboxButton {
    position: fixed;
    top: 70%;
    bottom: 0;
    left: 17%;
    right: 0;
    z-index: 10;
    height: 50px;
    width: 160px;
    opacity: 0;
    cursor: pointer;
    transform: translateX(-50%);
    transition: all 600ms ease-in-out;
}
.title {
    font-size: 2.5rem; /* Increase font size */
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center align the text */
    color: #5995fd; /* Set a specific color */
    text-transform: uppercase; /* Uppercase the text */
    margin: 100px 0; /* Add some margin for spacing */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
}
.formsWrapper {
    position: fixed;
    width: 65%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 35%;
    text-align: center;
    color: #000;
    transition: all 800ms ease-in-out;
    padding-top: 30px;
}

.formsWrapper form {
    max-width: 400px;
    margin: auto;
}

.input {
    position: relative;
    margin: 0 auto 30px;
}

.input input {
    -webkit-appearance: none;
    border: 0;
    border-bottom: solid 2px #ededed;
    padding: 40px 0 10px;
    text-align: center;
    width: 100%;
    outline: none;
    font-size: 14px;
}

.input input::placeholder {
    opacity: 0;
    color: transparent;
}

.input label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    font-size: 14px;
    pointer-events: none;
    user-select: none;
    transition: all 400ms;
    color: #999;
}

.input input:focus + label,
.input input:not(:placeholder-shown) + label{
    transform: translate(-50%, -80%) scale(0.8);
    font-weight: 600;
}

.formButton {
    -webkit-appearance: none;
    border: 0;
    background: #4481eb;
    width: 100%;
    padding: 16px;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}

.signIn, signUp {
    position: absolute;
    left: 0;
    right: 0;
}

.signIn {
    opacity: 0;
    pointer-events: none;
    transition: all 800ms ease-in-out;
}

.signUp {
    opacity: 1;
    pointer-events: auto;
    transition: all 800ms ease-in-out;
}

.formsWrapper .title {
    margin-bottom: 35px;
}

.formsWrapper .link {
    margin: 10px 0 65px;
    display: inline-block;
    font-size: 14px;
    color: #999;
    text-decoration: none;
}

.mainButton {
    position: fixed;
    z-index: 1;
    top: 70%;
    left: 17%;
    transform: translateX(-50%);
    border: solid 2px #fff;
    height: 50px;
    border-radius: 50px;
    width: 160px;
    overflow: hidden;
    text-align: center;
    transition: all 600ms ease-in-out;
}

.mainButton .signInText,
.mainButton .signUpText {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transition: all 800ms;
}

.mainButton .signInText {
    transform: translateY(-50%);
}

.mainButton .signUpText {
    transform: translateY(100%);
}

.checkboxButton:checked ~ .main {
    clip-path: inset(0 0 0 65%);
}

.checkboxButton:checked ~ .leftBar .content2 {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0%);
}

.checkboxButton:checked ~ .leftBar .content1 {
    opacity: 0;
    pointer-events: none;
    transform: translateX(40%);
}

.checkboxButton:checked ~ .formsWrapper {
    right: 35%;
    left: 0;
}

.checkboxButton:checked ~ .formsWrapper .signIn {
    opacity: 1;
    pointer-events: auto;
}

.checkboxButton:checked ~ .formsWrapper .signUp {
    opacity: 0;
    pointer-events: none;
}

.checkboxButton:checked ~ .mainButton .signUpText {
    transform: translateY(-50%);
}

.checkboxButton:checked ~ .mainButton .signInText {
    transform: translateY(-200%);
}

.checkboxButton:checked ~ .mainButton,
.checkboxButton:checked {
    left: 82%;
}

// signature
   .signature-wrapper {
       margin-top: 100px;
       margin-bottom: 50px;
       text-align: center;

       .signature-title {
           font-size: 16px;
           letter-spacing: 1px;
           font-weight: normal;
       }

       .signature-link {
           color: #f36e2e;
           display: inline-block;
           margin: 20px 0 10px;
           font-size: 13px;
           letter-spacing: 0.5px;
           text-decoration: none;
           border-bottom: solid 2px #ddd
       }
   }
/* index */
.btn {
    padding: .5rem;
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

/* PROPS */
:root {
    --app-col: #1976D2;
}

/* GENERAL */
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/* BASE LAYOUT */
.app {
    display: grid;
    grid-template-rows: max-content auto;
    min-height: 100vh;
    background: var(--app-col);
}

/* HEADER */
.app-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 0.5rem;
}

.app-header .left,
.app-header .right {
    display: grid;
    grid-gap: 7px;
}

.app-header .left {
    grid-template-columns: repeat(3, max-content);
}

.app-header .center {
    text-align: center;
}

.app-header .right {
    justify-content: end;
    grid-template-columns: repeat(5, max-content);
}

.app-header .logo {
    font-style: italic;
    font-size: 1.25em;
    color: #fff;
}

.app-header .logo i {
    font-style: normal;
}

.app-header .search {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
}

/* BOARD */
.app-board {
    display: grid;
    grid-template-rows: max-content auto;
    background: rgba(255, 255, 255, 0.5);
}

.app-board .board-header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 0.5rem;
}

.app-board .board-header .left,
.app-board .board-header .right {
    display: grid;
    grid-gap: 7px;
    align-items: center;
}

.app-board .board-header .left {
    grid-template-columns: repeat(4, max-content);
}

.app-board .board-header .right {
    justify-content: end;
    grid-template-columns: repeat(2, max-content);
}

.app-board .board-header .title {
    font-weight: 700;
    font-size: 1.25em;
}

.app-board .board-body {
    padding: 0 0.5rem;
    overflow-y: hidden;
}

.app-board .board-body .wrap-lists {
    display: grid;
    grid-auto-columns: 272px;
    grid-auto-flow: column;
    grid-gap: 10px;
    height: calc(100% - 16px);
    padding-bottom: 0.5rem;
    overflow-y: auto;
}

.app-board .board-body .list {
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 10px;
    padding: 0.5rem;
    font-size: 0.875em;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

.app-board .board-body .list .list-title {
    margin: 0;
}

.app-board .board-body .list .card {
    padding: 0.5rem;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.app-board .board-body .list .btn-list {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

/* BG COLOR PICKER */
.app-tint {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.app-tint input[type="color"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}

.app-tint label {
    font-size: 1.25em;
    color: var(--app-col);
    cursor: pointer;
}
