<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trello Clone</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
<div class="app">

    <!-- Main Header -->
    <header class="app-header">
        <div class="left">
            <div class="btn"><i class="fas fa-home"></i></div>
            <div class="btn btn-text"><i class="fab fa-trello"></i> Boards</div>
            <div class="btn search">
                Search
                <i class="fas fa-search"></i>
            </div>
        </div>
        <div class="center">
            <div class="logo"><i class="fab fa-trello"></i> Trello Clone</div>
        </div>
        <div class="right">
            <div class="btn"><i class="fas fa-plus"></i></div>
            <div class="btn"><i class="fas fa-info-circle"></i></div>
            <div class="btn"><i class="far fa-bell"></i></div>
            <div class="btn"><i class="fas fa-cog"></i></div>
            <div class="btn"><i class="fas fa-user-tie"></i></div>
        </div>
    </header>

    <!-- App Board -->
    <main class="app-board">
        <header class="board-header">
            <div class="left">
                <div class="title">Your board title</div>
                <div class="btn"><i class="far fa-star"></i></div>
                <div class="btn">Personal</div>
                <div class="btn btn-text"><i class="fas fa-lock"></i> Private</div>
            </div>
            <div class="right">
                <div class="btn btn-text"><i class="fas fa-male"></i> Butler</div>
                <div class="btn btn-text"><i class="fas fa-ellipsis-h"></i> Menu</div>
            </div>
        </header>

        <!-- Board -->
        <section class="board-body">
            <div class="wrap-lists">
                <div class="board-col">
                    <div class="list">
                        <h4 class="list-title">List title</h4>
                        <div class="card">Card 1</div>
                        <div class="card">Card 2</div>
                        <div class="card">Card 3</div>
                        <div class="card">Card 4</div>
                        <div class="card">Card 5</div>
                        <div class="card">Card 6</div>
                        <div class="card">Card 7</div>
                        <div class="card">Card 8</div>
                        <div class="card">Card 9</div>
                        <div class="card">Card 10</div>
                        <a class="btn-list" href="#">+ Add another card</a>
                    </div>
                </div>
                <div class="board-col">
                    <div class="list">
                        <h4 class="list-title">List title</h4>
                        <div class="card">Card 1</div>
                        <div class="card">Card 2</div>
                        <div class="card">Card 3</div>
                        <div class="card">Card 4</div>
                        <div class="card">Card 5</div>
                        <div class="card">Card 6</div>
                        <a class="btn-list" href="#">+ Add another card</a>
                    </div>
                </div>
                <div class="board-col">
                    <div class="list">
                        <h4 class="list-title">List title</h4>
                        <div class="card">Card 1</div>
                        <div class="card">Card 2</div>
                        <div class="card">Card 3</div>
                        <div class="card">Card 4</div>
                        <a class="btn-list" href="#">+ Add another card</a>
                    </div>
                </div>
                <div class="board-col">
                    <div class="list">
                        <h4 class="list-title">List title</h4>
                        <div class="card">Card 1</div>
                        <div class="card">Card 2</div>
                        <div class="card">Card 3</div>
                        <div class="card">Card 4</div>
                        <div class="card">Card 5</div>
                        <div class="card">Card 6</div>
                        <div class="card">Card 7</div>
                        <a class="btn-list" href="#">+ Add another card</a>
                    </div>
                </div>
                <div class="board-col">
                    <div class="list">
                        <h4 class="list-title">List title</h4>
                        <div class="card">Card 1</div>
                        <div class="card">Card 2</div>
                        <div class="card">Card 3</div>
                        <a class="btn-list" href="#">+ Add another card</a>
                    </div>
                </div>
                <div class="board-col">
                    <div class="list">
                        <a class="btn-list" href="#">+ Add another list</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- App Tint -->
    <div class="app-tint">
        <input type="color" id="app-color">
        <label for="app-color"><i class="fas fa-tint"></i></label>
    </div>
</div>
</body>
</html>